.App {
  background: linear-gradient(to right, #23074d, #cc5333); 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 3rem;
  width: 100%;
  background: linear-gradient(to right, #000000, #434343);
  border-bottom: 2px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border: 1.5px solid white;
  border-radius: 50%;
  background: url(http://2.bp.blogspot.com/-5Yl8Tj2M-aE/Ujwj8rH1InI/AAAAAAAAChY/WSs2S8oAArU/s1600/3d-cool-logo-1024x819.jpg);
  background-position: center;
  background-size: cover;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}

.footer {
  height: 3rem;
  width: 100%;
  border-top: 2px solid rgb(255, 255, 255);
  background: linear-gradient(to right, #000000, #434343);
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.input {
  width: 80%;
  height: 2rem;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

.button {
  font-size: 1rem;
  font-weight: bold;
  width:2rem;
  height:2rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  position: relative;
  cursor: pointer;
  right: 2.15rem;
}