/* Page settings */
.App {
  background: linear-gradient(to top, #373b44, #4286f4);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header for page */
.header {
  height: 1.5rem;
  width: 100vw;
  background: linear-gradient(to top, #005c97, #363795);
  border-bottom: 2px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  padding-left: 0.5rem;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Header element: Webpage title */
.title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

/* Header element: Webpage logo */
.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem;
  border: none;
  background: url(chatbot.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Styling for displayed messages on screen */
.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  flex: 1;
  box-sizing: border-box;
  overflow: auto;
  padding: 0.7rem;
  text-align: left;
}

/* Styling for each individual messages */
.message {
  display: flex;
  align-items: flex-start;
  /* background: linear-gradient(to right, #232526, #414345); */
  border-radius: 0.75rem;
  max-width: 65vw;
}

.messageText {
  color: white;
  background: linear-gradient(to right, #232526, #414345);
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  word-wrap:break-word;
  /* word-break: break-all; */
  hyphens: auto;
}