.usernameText {
  position: absolute;
  left: 0;
  top: -0.75rem;
  font-size: 0.5rem;
}


/* style for profile picture in messages */
.profile {
    min-height: 1.75rem;
    min-width: 1.75rem;
    border: none;
    background: url(profile.png);
    background-size: 1.75rem;
    background-position: center;
    background-repeat: no-repeat;
  }