.footer {
    height: 2rem;
    width: 100%;
    border-top: 2px solid rgb(255, 255, 255);
    background: linear-gradient(to top, #232526, #414345);
    display: flex;
    align-items: center;
    padding: 2rem;
    position: relative;
    box-sizing: border-box;
  }
  
  /* Footer element: Text box for input */
  .input {
    width: calc(100% - 50px);
    height: 1.5rem;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding-left: 0.5rem;
  }
  
  /* Footer element - input: Send message button */
  .button {
    font-weight: bold;
    width:1.5rem;
    height:1.5rem;
    border-radius: 50%;
    background: url(send.png);
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.09rem solid rgb(59, 59, 59);
    position: relative;
    cursor: pointer;
    right: 1.55rem;
  }

  .emoji {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background: url(emoji.png);
    background-size: 2rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  .emoji:hover {
    background-size: 2.5rem;
  }

  .camera {
    display: flex;
    border-radius: 50%;
    border: none;
    margin-right: 1.5rem;
    min-width: 2rem;
    min-height: 2rem;
    background-color: white;
  }